@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    <h2 class="display-4">Bem vindo ao gestor de tarefas do IPG </h2>
    <a href="http://www.ipg.pt/website/">
        <img src="http://www.ipg.pt/website/imgs/logotipo_ipg.jpg" class="img-rounded" alt="IPG">
    </a>
</div>


<div class="container-fluid">
    <hr />
    @if (User.IsInRole("filipepintom96")){
        <section id="comandos">
            <button type="button" class="btn btn-info">Info</button>  
        </section>  
    } else {
        <section id="sobre">

            <div class="d-flex justify-content-center ">
                <div class="card text-white bg-secondary col-md-6" style="max-width: 15rem;">
                    <div class="card-header">Criar Tarefas</div>
                    <div class="card-body">

                        <p class="card-text">Possibilidade de fazer requerer novas tartefas.</p>
                    </div>
                </div>
                <div class="card text-white bg-secondary col-md-6" style="max-width: 15rem;">
                    <div class="card-header">Consulta de Tarefas</div>
                    <div class="card-body">

                        <p class="card-text"> Verificar lista de tarefas que lhe são atribuidas.</p>
                    </div>
                </div>
                <div class="card text-white bg-secondary col-md-6" style="max-width: 15rem;">
                    <div class="card-header">Produtividade</div>
                    <div class="card-body">

                        <p class="card-text">Consulta de graficos da sua produtividade.</p>
                    </div>
                </div>
            </div>

        </section>
    }
</div>
