@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h2 class="display-4">Bem vindo ao gestor de tarefas do IPG </h2>
        <a href="http://www.ipg.pt/website/">
            <img src="http://www.ipg.pt/website/imgs/logotipo_ipg.jpg" class="img-rounded" alt="IPG">
        </a>
</div>
