<div class="alert alert-dismissible alert-danger">
    <h4 class="alert-heading">Impossivel eliminar</h4>
    <p>Erro!! Funcionario não eliminado.</p>
    <a asp-action="Index" class="btn btn-secondary">Lista de funcionarios</a>
</div> 